<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunav.tunavmedi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hospital"
        android:label="@string/app_name"
        android:logo="@drawable/hospital"
        android:theme="@style/HoloLightDarkActionBarTheme" >
        <activity
            android:name="com.tunav.tunavmedi.activity.LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.tunav.tunavmedi.action.LOGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tunav.tunavmedi.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tunav.tunavmedi.service.TasksIntentService" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tunav.tunavmedi.service.TasksIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.tunav.tunavmedi.action.TASKS_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.tunav.tunavmedi.service.AuthenticationIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.tunav.tunavmedi.action.authentication.AUTHENTICATE" />
                <action android:name="com.tunav.tunavmedi.action.authentication.DEAUTHENTICATE" />
                <action android:name="com.tunav.tunavmedi.action.authentication.CHECK" />
            </intent-filter>
        </service>
    </application>

</manifest>